<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Cart</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <!--<script src='http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en&v=3.17'></script>-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="dist/all.js"></script>
</head>
<body ng-app="foodApp" ng-controller="mapCtrl">
<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" id="pac-input" placeholder="Search Box">
</script>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds" pan="true" events="map.events">
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
        <ui-gmap-marker model="marker" coords="marker.location" idKey="'place'" visible="'show'"></ui-gmap-marker>
        <ui-gmap-markers idKey="'objectid'" coords="'location'" models="map.markers" icon="'icon'" doCluster="true" events="'events'">

        </ui-gmap-markers>
    </ui-gmap-google-map>
    <div ng-show="markers.length == 0" id="goback">
        <button class="btn" ng-click="reset()">Go back to SF</button>
    </div>
    <div id="legend" ng-hide="(markers.length == 0)">
        <div>
            <label for="truck">
                <input type="checkbox" id="truck" ng-model="filter.truck"/>
                <img src="assets/food-truck.png" alt="truck"/> Truck
            </label>
        </div>
        <div>
            <label for="push-cart">
                <input type="checkbox" id="push-cart" ng-model="filter.push_cart"/>
                <img src="assets/push-cart.png" alt="push-cart"/> Push Cart
            </label>


        </div>
    </div>
    <div id="info" class="flex-column" ng-show="selected.show">
        <div class="flex-row spaced">
            <p id="head">{{selected.name}}</p>
        </div>
        <div class="column">
            <p>Address: {{selected.address}}</p>
            <span>Items:-</span>
            <p>{{selected.serve}}</p>
        </div>
        <div id="close" ng-click="selected.show=false">
            &#10006;
        </div>
    </div>
</body>
</html>